@import "../settings/colors";
@import "../settings/variables";
@import "mixins";
/* ==========================================================================
Tools
- Globally-available tools, public utilities
========================================================================== */

// Reset css
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
  font-size: $font_size;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Flex basis styles here */
.flex-1 {
  flex: 1;
}
.flex-column {
  flex-direction: column !important;
}
.d-flex {
  display: flex !important; 
}
.align-items-center {
  display: flex !important; 
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}



p {
  &.heading {
    @include font(14px, 23px, 500, $primary-color);
    text-transform: capitalize;
  }
}

/* Cursor styles here */
.cursor {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
.emoji-mart {
  width: 100% !important;
  margin-top: $spacer12 !important;
}


/* Responsive section style here */
@media only screen and (max-width: 40em) {
  .diary {
    .dairy-section {
      width: 100% !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .diary {
    .dairy-section {
      width: 60% !important;
    }
  }
}