<div class="dairy-section">
  <div class="daily-box">
    <div class="header">
      <p class="heading">Your Diary</p>
      <span class="material-icons arrow"> arrow_forward </span>
    </div>
    <div>
      <form #form class="example-form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Write something" name="message" [(ngModel)]="message" #messageInput rows="5"
          cols="60"></textarea>
        </mat-form-field>
          <span class="material-icons arrow" (click)="isEmojiOpen=!isEmojiOpen"> mood </span>
          <emoji-mart title="Pick your emoji…" emoji="point_up" *ngIf="isEmojiOpen" (emojiSelect)="addEmoji($event)"></emoji-mart>
          <button mat-raised-button color="primary">Save</button>
      </form>
    </div>
  </div>
</div>
