@import "../../../assets/scss/settings/colors";
@import "../../../assets/scss/settings/variables";
@import "../../../assets/scss/tools/mixins";

.diary {
  background: $bg-color;
  height: calc(100vh - 48px);
  overflow: auto;
  padding: $spacer24;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .dairy-section {
    display: flex;
    justify-content: center;
    width: 28%;
    .daily-box {
      padding: $spacer16;
      width: auto;
      background: $white-color;
      border-radius: $middle-border-radius;
      .header {
        .arrow {
          color: $primary-color;
        }
      }
    }

    .custom-textarea {
      .mat-form-field {
        width: 100%;
      }
    }

    .mood {
      color: $primary-color;
    }

    .history-section {
      background: $white-color;
      width: auto;
      padding: $spacer16;
      margin: $spacer6 0;
      border-radius: $middle-border-radius;

      .calender-section {
        background: #F7F8F9;
        border-radius: $middle-border-radius;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: $spacer8 0;
        padding: 16px;

        .icon {
          @include font(12px, 12px, normal, $primary-color);
        }

        .icon-content {
          @include font(10px, 12px, normal, $primary-color);
        }

        .more {
          @include font(12px, 12px, normal, $primary-color);
        }

        .desc {
          @include font(10px, 12px, normal, $text-grey-hint);
          margin: 0;
        }
      }

      .inner-history {
        height: calc(100vh - 367px);
        overflow: auto;
      }
    }

    .no-records {
      height: calc(100vh - 415px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .records-title {
        @include font(14px, 21px, normal, $primary-color);
        text-align: center;
        margin: 6px 0 0 0;
      }
    }
  }
}
