@import "../settings/colors";
@import "../settings/variables";
@import "../tools/mixins";


button.mat-raised-button,
a.mat-raised-button {
  background-color: $primary-color;
  color: $white-color;
  transition: all .3s;

  &.full-width {
    width: 100%;
  }

  &:hover {
    .mat-button-focus-overlay,
    .mat-button-ripple {
      opacity: 0 !important;
    }
  }

  // Button colors
  &.mat-primary {
    background-color: $primary-color;
    border-radius: 18px;
    padding: 4px 16px;
    @include font(10px, 16px, normal, $white-color);
    &.font-14 {
      font-size: 14px;
      padding: 6px 16px !important;
    }

    &[disabled] {
      background-color: $grey-color;
    }
  }
  &.mat-warn {
    background-color: $warn-color;
    border-radius: 18px;
    padding: 4px 16px;
    @include font(10px, 16px, normal, $white-color);
    &.font-14 {
      font-size: 14px;
      padding: 6px 16px !important;
    }
    &[disabled] {
      background-color: $grey-color;
    }
  }
}

