/* ==============================
   CHECKOUT SPECIFIC COLORS
---------------------------------*/

$primary-color: #3E52BE;
$secondary-color: #224272;
$grey-color: #90A4AE;
$white-color: #fff;
$warn-color: red;
$black-color: #000;
$bg-color: #E5E5E5;
$text-grey-hint: #263238;

