/* ==============================
   CHECKOUT SPECIFIC COLORS
---------------------------------*/

$primary-color: #3E52BE;
$secondary-color: #224272;
$grey-color: #90A4AE;
$white-color: #fff;
$warn-color: red;


/*===============================
  iChatBot table color
---------------------------------*/
$td-blue-color :#4C7CF3;
$td-blue-color-lighten :rgba(76,124,243,.10);

$td-green-color :#2BCD72;
$td-green-color-lighten :rgba(43,205,114,.10);

$td-orange-color :#FF8400;
$td-orange-color-lighten :rgba(255,132,0,.10);

$td-navy-color :#06111D;
$td-navy-color-lighten :rgba(6,17,29,.10);

$td-purple-color :#641CFF;
$td-purple-color-lighten :rgba(100,28,255,.10);

$td-red-color:#F84444;
$td-red-color-lighten:rgba(248,68,68,.10);


/*===============================
  iChatBot dashboard color
---------------------------------*/
$chart-green : #02B88E;
$light-green: #cdf0e8;
$chart-green-lighten: rgba(2,184,142,.10);
$chart-violet: #503C7D;


/*===============================
  Gradient color
---------------------------------*/
$orange-gradient: linear-gradient(to left, #fb734b, #d74d25);




/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Mozhi Overall Application Colors
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Mozhi Overall Background Color*/
$background-color : #F5F7F9;

/*Mozhi Application Colors*/

$white-color : #FFFFFF;

$brand-color: #FB7000;
$brand-color-85 : #FB8526;
$brand-color-65 : #FCA259;
$brand-color-45 : #FDBE8C;
$brand-color-25 : #FFEAD9;
$brand-color-10 : #FEF0E5;
$brand-color-5 : #FFF8F2;

$black-color : #000000;
$black-color-85 : #262626;
$black-color-65 : #595959;
$black-color-45 : #8C8C8C;
$black-color-25 : #D9D9D9;
$black-color-10 : #E5E5E5;
$black-color-5 : #F2F2F2;

$red-color : #FF4646;
$red-color-85 : #FF6262;
$red-color-65 : #FF8787;
$red-color-45 : #FFACAC;
$red-color-25 : #FFE4E4;
$red-color-10 : #FFECEC;
$red-color-5 : #FFF6F6;

$green-color : #0ABF95;
$green-color-85 : #2FC8A5;
$green-color-65 : #60D5BA;
$green-color-45 : #91E2CF;
$green-color-25 : #DBF6EF;
$green-color-10 : #E6F8F4;
$green-color-5 : #F3FCF9;


$blue-color : #4C7CF3;
$blue-color-85 : #678FF5;
$blue-color-65 : #8AAAF7;
$blue-color-45 : #AEC4F9;
$blue-color-25 : #D2DEFC;
$blue-color-10 : #EDF1FD;
$blue-color-5 : #F6F8FE;

$purple-color : #641CFF;
$purple-color-85 : #7B3EFF;
$purple-color-65 : #9A6BFF;
$purple-color-45 : #B999FF;
$purple-color-25 : #D8C6FF;
$purple-color-10 : #EFE8FF;
$purple-color-5 : #F7F3FF;




/*Mozhi Data Colors (Table left border , Table chips)*/

$orange-data-color : #FB7000;
$orange-data-color-2 : #FEF0E5;

$green-data-color : #0ABF95;
$green-data-color-2 : #E6F8F4;

$blue-data-color : #4C7CF3;
$blue-data-color-2 : #EDF1FD;

$darkblack-data-color : #06111D;
$darkblack-data-color-2 : #E6E7E8;

$purple-data-color : #641CFF;
$purple-data-color-2 : #EFE8FF;

